<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book</title>
    <link rel="stylesheet" href="bookListSyle.css">
  </head>
  <body>
    <%- include("../portion/header.ejs") %>
    <div class="addBookBar">
        <a href="/books/add" class="addNewBook">+ Add Book</a>
    </div>
    <div>
      <table border="1" cellspacing="0" cellpadding="10">
        <thead>
          <th>S.No</th>
          <th>Title</th>
          <th>ISBN</th>
          <th>Language</th>
          <th>Edition</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Description</th>
          <th>Category</th>
          <th>Author</th>
          <th>Publisher</th>
        </thead>
        <% booksList.forEach((book,index) => { %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= book.title %></td>
                <td><%= book.isbn %></td>
                <td><%= book.language %></td>
                <td><%= book.edition %></td>
                <td><%= book.price %></td>
                <td><%= book.quantity %></td>
                <td><%= book.description %></td>
                <td><%= book.categoryName.name %></td>
                <td><%= book.authorName.first_name %> <%= book.authorName.last_name %></td>
                <td><%= book.publisherName.name %></td>
                <td class="action"><a href="/books/<%= book.id %>/edit" class="editbtn">Edit</a></td>
                <td class="action">
                  <form action="/books/<%= book.id %>?_method=DELETE" method="post">
                    <button type="submit" class="deletebtn">Delete</button>
                  </form>
                </td>
            </tr>
        <% }) %>
      </table>
    </div>
  </body>
</html>
