<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
    <link rel="stylesheet" href="/addBooksStyle.css">
</head>
<body>
    <%- include("../portion/header.ejs") %>
    <h1 class="page-title"><%= title %></h1>
    <div class="container">
      <%- include("../portion/errors") %>
      <form action="<%= category ? `/categories/${category.id}/edit` : '/categories/add' %>" method="post" class="addBookForm">
        <div class="form-group">
          <label for="title">Name:</label>
          <input
            type="text"
            name="name"
            id="title"
            placeholder="e.g., Voltaire"
            value="<%= category ? category.name : '' %>"
            required
          />
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea
            id="description"
            name="description"
            rows="4"
            cols="50"
            placeholder="Enter book description"
          ><%= category ? category.description : '' %></textarea>
        </div>
        <button type="submit" class="btnAddBook">Submit</button>
      </form>
    </div>

</body>
</html>